:root{
    --main-font:'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #212121;
    --secondary-color: #2196F3;
    --third-color: #ffffff;
    --forth-color: #757575;
    --footer-color: rgba(255, 255, 255, 0.6);
    --footer-bg-color: #2F303A;
    --employees-bg-color: #F5F4FA;
}

body{
    font-family: var(--main-font);
    color:var(--main-color)
}

/*======== COMPONENTS ========*/

.logo-color{
    color:var(--secondary-color);
}

.logo{
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
text-decoration: none;
}

.secondary-header{
font-weight: 700;
font-size: 36px;
line-height: 1.667;
letter-spacing: 0.03em;
}

/*======== END COMPONENTS ========*/

/*======== HEADER ========*/


.navigation-link{
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color:var(--main-color);
text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus,
.contact-link:hover,
.contact-link:focus,
.address-link-contact:hover,
.address-link-contact:focus{
    color:var(--secondary-color)
}

.contact-link{
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color:var(--forth-color);
text-decoration: none;
}

/*======== END HEADER ========*/

/*======== HERO ========*/

.hero-up{
    background-color: var(--footer-bg-color);
}

.first-header{
font-weight: 900;
font-size: 44px;
line-height: 1.363;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--third-color);
}

.modal-btn{
font-weight: 700;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
background-color: var(--secondary-color);
color:var(--third-color);
cursor: pointer;
}

.hero-main-text{
font-weight: 700;
font-size: 14px;
line-height: 1.143px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.hero-text-description{
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color:var(--forth-color)
}
/*======== END HERO ========*/

/*======== ABOUT ========*/

/*======== END ABOUT ========*/

/*======== EMPLOYEES ========*/

.employees{
    background-color: var(--employees-bg-color);
}

.employees-name{
font-weight: 500;
font-size: 16px;
line-height: 1.187;
letter-spacing: 0.03em;
}

.employees-job{
font-size: 16px;
line-height: 1.187;
letter-spacing: 0.03em;
color:var(--forth-color)
}

/*======== END EMPLOYEES ========*/

/*======== FILTERS ========*/

.filter-btn{
font-weight: 500;
font-size: 16px;
line-height: 1.625;
letter-spacing: 0.03em;
cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus{
    background-color: var(--secondary-color);
}

/*======== END FILTERS ========*/

/*======== OFFER ========*/

.offer-main-text{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.offer-description{
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color:var(--forth-color);
}
/*======== END OFFER ========*/

/*======== FOOTER ========*/

.footer{
    background-color:var(--footer-bg-color);
}

.address-link,
.address-link-contact{
font-style: normal;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
text-decoration: none;
}

.address-link-contact{
    color:var(--footer-color);
}

.address-link,
.logo-color-part2{
    color:var(--third-color);
}
/*======== END FOOTER ========*/